# Dependencies
node_modules/

# Build and logs
dist/
dist-ssr/
*.log

# Environment variables
.env
.env.*
!.env.example

# Database
*.db
*.db-journal
/backend/src/generated/prisma

# OS and Editors
.DS_Store
.vscode/
.idea/
